body{
  margin: 0px;
}
.list-sidebar{
  font-size: 17px;
}
.list-sidebar p{
  font-size: 22px;
  font-weight: 800;
}
.list-sidebar li{
  list-style: none;
  width: fit-content;
  cursor: pointer;
  margin-top: 5px;
  padding-left: 12px;
  padding-right: 10px ;
  transition: background-color 0.4s;
  border-radius: 10px;
}
.list-sidebar li:hover{
  background-color: rgb(20, 20, 20);

}
.pages-navbar p {
  cursor: pointer;
  transition: background-color 0.4s;
  border-radius: 10px;
  padding: 0px 5px;
}
.pages-navbar p:hover{
  background-color:#3a3b3b;
}
.footer-sidebar p {
  cursor: pointer;
  transition: background-color 0.4s;
  border-radius: 10px;
  padding: 0px 5px;
  margin: 10px 0px;
}
.footer-sidebar p:hover{
  background-color:rgb(20, 20, 20);
}
a {
  all: unset;
}
.search-selector {
  color:rgb(254, 255, 255);
  margin-left: 8px;
  padding: 10px;
  font-family: 'Poppins';
  font-size: 14px;
  border-radius: 50px;
  background-color: #006554;
  border: 1px solid #006554;
   cursor: pointer;

}
.search-selector-2 {
  color:rgb(254, 255, 255);
  margin-left: 8px;
  padding: 10px;
  font-family: 'Poppins';
  font-size: 14px;
  border-radius: 50px;
  background-color: #e98537;
  border: 1px solid #e98537;
   cursor: pointer;

}
.search-selector-3 {
  color:rgb(254, 255, 255);
  margin-left: 8px;
  padding: 10px;
  font-family: 'Poppins';
  font-size: 14px;
  border-radius: 50px;
  background-color: #9a4d76;
  border: 1px solid #9a4d76;
   cursor: pointer;

}
.search-btn {
  background-color: #6b2643;
  border: 1px solid #6b2643 ;
  font-family: 'Poppins';
  font-size: 18px;
  border-radius: 10px;
  cursor: pointer;
  height: 60px;
  width: auto;

}
.card-style:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.game-details-section {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  margin-top: 20px;
  
}
.game-details-section > div {
  width: 48%;
}
.sidebar-container-style{
  background-color: #0f141b;
  border-right: 1px solid #333;
  width: 200px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer-sidebar{
  padding-top: 10px;
  border-top: 1px solid #333;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.app-container-main-style{
  width: 60%;
  margin: 30px auto;
}
.games-finished-container{
  width: 50%;
}
.first-gamer-status-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.game-finished-this-year-container{
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  width: 80%;
}
.game-dashboard-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 5px;
}
.your-review-container {
  margin-bottom: 90px;
}
.div-all-games-container{
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  margin-top: 50px;
}
@media (max-width: 700px){
  .main-div-container-style{
    flex-direction: column-reverse;

  }
  .sidebar-container-style{
    width: 100%;
    align-items: center;
  }
  .footer-sidebar{
    align-items: flex-start;
    justify-content: flex-start;
  }
  .menu-elements {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  .app-container-main-style{
  width: 100%;
  margin: 30px auto;  
  }
  .games-finished-container{
  width: 100%;
  }
  .first-gamer-status-container{
    flex-direction: column;
  }
  .game-finished-this-year-container{
    width: 100%;
    gap: 0px;
  }
  .game-dashboard-container{
    justify-content: center;
  }
  .game-details-section > div {
    width: auto;
  }
  .div-all-games-container{
    justify-content: center;
  }
  .game-details-section{
    justify-content: center;
  }
}
