body{
  margin: 0px;
}
.list-sidebar{
  font-size: 17px;
}
.list-sidebar p{
  font-size: 22px;
  font-weight: 800;
}
.list-sidebar li{
  list-style: none;
  width: fit-content;
  cursor: pointer;
  margin-top: 5px;
  padding-left: 12px;
  padding-right: 10px ;
  transition: background-color 0.4s;
  border-radius: 10px;
}
.list-sidebar li:hover{
  background-color: rgb(20, 20, 20);

}
.pages-navbar p {
  cursor: pointer;
  transition: background-color 0.4s;
  border-radius: 10px;
  padding: 0px 5px;
}
.pages-navbar p:hover{
  background-color:#3a3b3b;
}
.footer-sidebar p {
  cursor: pointer;
  transition: background-color 0.4s;
  border-radius: 10px;
  padding: 0px 5px;
  margin: 10px 0px;
}
.footer-sidebar p:hover{
  background-color:rgb(20, 20, 20);
}
a {
  all: unset;
}
.search-selector {
  color:rgb(254, 255, 255);
  margin-left: 8px;
  padding: 10px;
  font-family: 'Poppins';
  font-size: 14px;
  border-radius: 50px;
  background-color: #006554;
  border: 1px solid #006554;
   cursor: pointer;

}
.search-selector-2 {
  color:rgb(254, 255, 255);
  margin-left: 8px;
  padding: 10px;
  font-family: 'Poppins';
  font-size: 14px;
  border-radius: 50px;
  background-color: #e98537;
  border: 1px solid #e98537;
   cursor: pointer;

}
.search-selector-3 {
  color:rgb(254, 255, 255);
  margin-left: 8px;
  padding: 10px;
  font-family: 'Poppins';
  font-size: 14px;
  border-radius: 50px;
  background-color: #9a4d76;
  border: 1px solid #9a4d76;
   cursor: pointer;

}
.search-btn {
  margin-left: 40px;
  background-color: #6b2643;
  border: 1px solid #6b2643 ;
  font-family: 'Poppins';
  font-size: 24px;
  border-radius: 10px;
  cursor: pointer;

}
